.library{
  margin-top: 10vh;
  height:100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/LastGames/l6.jpg');
  background-size: cover;
  background-position: top center;
  text-align: center;
  overflow: hidden;

}

.li-head h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5vh;
  color: deepskyblue;
  margin-top: 10vh;
}

.li-library {
  margin-top: 10vh;
  list-style: none;

}

.li-library li{
  display: inline-block;
  padding: 20px;

}

.li-library li:hover{
  background-color: deepskyblue;
  border-radius: 5%;
  transition: all 0.7s ease-in;
}

.li-library li:hover .feature{
  background-color: deepskyblue;
  color: grey;
  transition: all 0.7s ease-in;
}



.li-library li .feature{
  background-color: white;
  color: grey;
  max-width: 450px;
  padding-top: 10px;
  font-size: 20px;

}

.limg {
  background-size: cover;
  background-position: top center;
  height: 300px;
  width: 450px;
  overflow: hidden;

}
