.library{
  margin-top: 10vh;
  height:100%;
  background-size: cover;
  background-position: top center;
  text-align: center;
  overflow: hidden;

}

.li-head h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5vh;
  color: deepskyblue;
  margin-top: 10vh;
}

.li-library {
  margin-top: 10vh;
  list-style: none;

}

.li-library li{
  display: inline-block;
  padding: 20px;

}

.li-library li:hover{
  background-color: deepskyblue;
  border-radius: 5%;
  transition: all 0.7s ease-in;
}

.li-library li:hover .feature{
  background-color: deepskyblue;
  color: grey;
  transition: all 0.7s ease-in;
}



.li-library li .feature{
  background-color: white;
  color: grey;
  max-width: 400px;
  padding-top: 10px;
  font-size: 20px;

}

.limg {
  background-size: cover;
  background-position: top center;
  height: 300px;
  max-width: 400px;
  overflow: hidden;

}

.details  {
  padding: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: orange;
}


.lastGameButtons {
  display: flex;
  justify-content: center;
}
