

.container, .carousel {
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
}

.description {
    padding-top: 50px;
}


.container h1 {
    font-weight: bold;
    padding-top: 30vh;
    font-size: 7vh;
}

.container h1 span {
    color: orange;
}

.container p {
    font-size: 3vh;
    font-style: italic;
}

.container i {
    font-size: 35px;
    margin-right: 10px;
}

.container a
{
    display: inline-block;
    padding: 10px 50px;
    margin-right: 10px;
    margin-top: 10px;
}



.container a.btnHalf {
    background-color: deepskyblue;
    color: white;
    text-decoration: none;
}

.container a.btnHalf:hover {
    opacity: 0.7;
}

.container a.btnFull {
    background-color: orange;
    color: white;
    text-decoration: none;
}

.container a.btnFull:hover {
    opacity: 0.7;
}


